
#nav-top, .offcanvas{
    /* background-color: #007090 !important;
    color: #fff; */
    background-color: #fff;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.navbar-toggler{
    border: 1px solid #fff;
}

.navbar-toggler:focus{
    box-shadow: none;
}